.nav-bar{
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

}

.body{
  font-family: 'Lato', sans-serif;
}

.content{
  display: flex;
  margin-top: 10px;
  background: #585C6C;
  height: 800px;
}
.title{
  font-size: 30px;
  text-align: center;
  padding-top: 7px;
}
.about-text{
  font-family: 'Lato', sans-serif;
  padding: 5px 35px 5px 20px;
}
.subtitle{
  font-size: 15px;
  text-align: center;
  padding-bottom: 7px;
  /*border-bottom: 1px solid grey;*/
}
rect.background{
  z-index: 1;
}
.links{
  display: flex;
  justify-content: flex-end;
}

.github{
  height: 40px;
  width: auto;
  padding: 5px 10px 10px;
}

.linkedin{
  height: 43px;
  width: auto;
  padding: 5px 10px 10px;
}

#dropdown{
  margin: 0px 5px 5px 5px;
  background: transparent;
  fill: white;
  width: 100px;
  padding: 5px 35px 5px 20px;
  font-size: 16px;
  border: 1px solid rgb(8, 81, 156);
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Caret_down_font_awesome.svg/2000px-Caret_down_font_awesome.svg.png) 96% / 15% no-repeat #e6edf5;
}
.about-modal{
  display: flex;
  margin-top: 100px;
  border: 3px solid #33658A;
  padding: 10px 10px;
  width: 25%;
  flex-direction: column;
  border-radius: 10px;
  background: white;
  height: 400px;
  background: #e6edf5;
}
.map {
  border: 1px solid 000084;
}
.tick {
  color: #fff;
}
g.tick{
  fill: #fff;
}

.counties {
  fill: none;
  stroke: #fff;
  stroke-width: .3px;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}


div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 25px;
  padding: 5px 10px;
  font-size: 10px;
  background: white;
  border: 1px;
  border-radius: 8px;
  pointer-events: none;
  background: #5E5E5E;
  z-index: 1;
  float: left;
}

.caption {
  font-size: 22px;
  color: blue;
}
.background {
  fill: none;
  pointer-events: all;
}

.feature {
  cursor: pointer;
}

.states.active {
  fill: orange;
}

.wrapper {
  display: flex;
  margin: 20px 20px;
  font-family: 'Lato', sans-serif;
  width: 66%;
}

#neighborhood{
  font-size: 17px;
  font-weight: bold;
  padding: 5px 0px 0px 20px;
  font-family: 'Lato', sans-serif;
}
#active-neighborhood {
  font-size: 17px;
  font-weight: bold;
  padding: 5px 0px 0px 20px;
  font-family: 'Lato', sans-serif;
}
.inactive-neighborhood {
  display: none;
  visibility: hidden;
}

.year{
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0px 0px 20px;
  font-family: 'Lato', sans-serif;
  margin-bottom: -16px;
}
.prompt{
  font-size: 17px;
  font-weight: lighter;
  padding: 18px 0px 18px 20px;
  /*color: rgb(140, 150, 198);
  /*color: #585C6C;*/
}
.data{
  padding: 10px 10px 10px 0px;
}
#datum{
  font-size: 14px;
  padding: 5px 0px 0px 20px;
  font-family: 'Lato', sans-serif;
}
#map {
   width: 960px;
   height: 580px;
   position: relative;
}
 .stroke {
   fill: none;
   stroke: #888;
   stroke-width: 2px;
 }

 .fill {
   fill: #fff;
 }

 .graticule {
   fill: none;
   stroke: #777;
   stroke-width: .5px;
   stroke-opacity: .5;
 }

 .land {
   fill: #222;
 }

 .boundary {
   fill: none;
   stroke: #fff;
   stroke-width: .5px;
 }
 .country {
     fill: steelblue;
     stroke: white;
 }
 #play, #clock {
   position: absolute;
   top: 15px;
 }
 #play {
   left: 15px;
 }
 #clock {
   left: 65px;
 }
text.caption{
    font-family: 'Lato', sans-serif;
}
