.nav-bar{
  font-family: 'Lora', serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  width: 100%;
}

.body{
  font-family: 'Lora', serif;
}
.content{
  display: flex;
  flex-direction: column;
}
.title{
  font-size: 30px;
  text-align: center;
}

.subtitle{
  font-size: 15px;
  text-align: center;
}
#dropdown{
  margin: 30px;
  border: 1px solid #111;
  background: transparent;
  width: 100px;
  padding: 5px 35px 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Caret_down_font_awesome.svg/2000px-Caret_down_font_awesome.svg.png) 96% / 15% no-repeat #eee;
}
.about-modal{
  float: right;
  border: 1px solid #000084;
  float: right;
  padding: 10px 10px;
  width: 33%;
}
.map{
  border: 1px solid 000084;
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}


div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 25px;
  padding: 5px 10px;
  font-size: 10px;
  background: white;
  border: 1px;
  border-radius: 8px;
  pointer-events: none;
  background: #5E5E5E;
  z-index: 1;
  float: left;
}

.caption {
  font-size: 22px;
  color: blue;
}
.background {
  fill: none;
  pointer-events: all;
}

.feature {

  cursor: pointer;
}

.feature.active {
  fill: orange;
}

#wrapper {
  width: 66%;
  margin: -30px auto 0;
  display: flex;
  font-family: 'Lora', serif;
}
#neighborhood{
  font-size: 15px;
  padding: 5px 0px;
}
#datum{
  font-size: 13px;
  padding: 5px 0px;
}
#map {
   width: 960px;
   height: 580px;
   position: relative;
   left: 1
}
 .stroke {
   fill: none;
   stroke: #888;
   stroke-width: 2px;
 }

 .fill {
   fill: #fff;
 }

 .graticule {
   fill: none;
   stroke: #777;
   stroke-width: .5px;
   stroke-opacity: .5;
 }

 .land {
   fill: #222;
 }

 .boundary {
   fill: none;
   stroke: #fff;
   stroke-width: .5px;
 }
 .country {
     fill: steelblue;
     stroke: white;
 }
 #play, #clock {
   position: absolute;
   top: 15px;
 }
 #play {
   left: 15px;
 }
 #clock {
   left: 65px;
 }
text.caption{
    font-family: 'Lora', serif;
}
