.about-modal{
  display: flex;
  border: 1px solid #000084;
  float: right;
  padding: 10px 10px;

}
.map{
  border: 1px solid 000084;
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}


div.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 25px;
  padding: 2px;
  font-size: 10px;
  background: #FFFFE0;
  border: 1px;
  border-radius: 8px;
  pointer-events: none;
}

.caption {
  font-size: 22px;
  color: blue;
}
.background {
  fill: none;
  pointer-events: all;
}
